{#<ul>#}
    {#{% for child in translations %}#}
        {#<li></li>#}
    {#{% endfor %}#}
{#</ul>#}

{% block menu %}
{{ _self.displayChildren(translations) }}
{% endblock menu %}

{% block form %}
    {% include 'SKCMSLocaleBundle:translations:form.html.twig' %}

{% endblock form %}






{% macro displayChildren(array,path) %}
    <ul>
    {% for childKey,child in array %}
        {% if child is iterable %}
        <li>
            <a href="{{ path('skcms_locale_homepage',{path:path~childKey}) }}">{{ childKey }}</a>
            {{ _self.displayChildren(child,path~childKey~'/--/') }}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}